<mat-toolbar class="mat-elevation-z20">
  <button
    (click)="onToggleSideNav()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Baymaxx</span>
  <span style="flex: 1 1 auto"></span>
  <div class="d-flex align-items-center" style="cursor: pointer">
    <div style="margin-left: 8px; display: flex; flex-direction: column">
      <span
        style="
          font-size: 21px;
          line-height: 14px;
          margin-right: 15px;
          font-weight: 300;
        "
        >{{ "Sivantha" }}</span
      >
    </div>
  </div>
</mat-toolbar>
