<!-- <div class="bp-layout__center row">
  <div class="col-12 col-md-8 d-flex align-items-center flex-column">
    <img src="assets/images/logo.png" />
    <div class="row" style="width: 100%; padding: 40px">
      <div class="col">
        <mat-card mat-ripple class="d-flex flex-column" mat-raised-button>
          <img src="assets/svgs/robot_user.svg" height="100px" />
          <span class="card__text">Login as a User</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card mat-ripple class="d-flex flex-column" mat-raised-button>
          <img src="assets/svgs/healthcare_worker.svg" height="100px" />
          <span class="card__text">Login as a Healthcare Worker</span>
        </mat-card>
      </div>
    </div>
  </div>
</div> -->

<div class="bp-layout__center row">
  <div class="col-12 col-md-8 d-flex align-items-center flex-column">
    <img src="assets/images/logo.png" />
    <div
      class="row d-flex justify-content-center"
      style="width: 100%; padding: 40px"
    >
      <div class="col-4 d-flex flex-column align-items-center">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Username</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput />
        </mat-form-field>
        <button
          mat-flat-button
          style="
            padding: 0 60px;
            background: #dc4a5a;
            color: white;
            width: 100%;
          "
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
